<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/acf74393da.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" th:href="@{assets/css/learn.css}">
    <!-- Bootstrap core CSS-->
    <link th:href="@{vendor/bootstrap/css/bootstrap.min.css}" rel="stylesheet">

    <!-- Additional CSS Files -->
    <link rel="stylesheet" th:href="@{assets/css/fontawesome.css}">
    <link rel="stylesheet" th:href="@{assets/css/owl.css}">
    <link rel="stylesheet" th:href="@{assets/css/lightbox.css}">
    <title>Learn</title>
    <style>
        .learn{
            height: 100%;
        }
        .purchase-session{
            float: right;
            position: sticky;
            background-color: white;
            top: 0px;
            padding: 10px;
            border-radius: 7px;
            box-shadow: 0px 0px 5px 0px #ccc;
            width: 20%;
            height: 100%;
        }

        .course-details{
            background: rgb(253, 242, 252);
            border-radius: 7px;
            padding: 10px;
        }
    </style>
</head>
<body>
<!-- ***** Header Area Start ***** -->
<header class="header-area header-sticky">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <nav class="main-nav">
                    <!-- ***** Logo Start ***** -->
                    <a th:href="@{/home}" class="logo">
                        <p style="margin-top: 40px; color: white">YourCourse</p>
                        <!--<img src="assets/images/templatemo-eduwell.png" alt="EduWell Template">-->
                    </a>
                    <!-- ***** Logo End ***** -->
                    <!-- ***** Menu Start ***** -->
                    <ul class="nav">
                        <form
                                role="form"
                                method="post"
                                th:action="@{/search}"
                                th:object="${courseDTO}"
                        >
                            <input type="text" th:field="*{courseName}" placeholder="Search.." style="opacity: 0.5; border-radius: 7px">
                        </form>
                        <li class="has-sub">
                            <a>Category</a>
                            <ul class="sub-menu">
                                <li><a th:href="@{/getCourseByCategoryID(categoryID=1)}">Language Learning</a></li>
                                <li><a th:href="@{/getCourseByCategoryID(categoryID=2)}">Web development</a></li>
                                <li><a th:href="@{/getCourseByCategoryID(categoryID=3)}">Web design</a></li>
                                <li><a th:href="@{/getCourseByCategoryID(categoryID=4)}">IT Fundamental</a></li>
                                <li><a th:href="@{/getCourseByCategoryID(categoryID=5)}">Mathematics</a></li>
                            </ul>
                        </li>
                        <li class="scroll-to-section"><a href="#services">Services</a></li>
                        <li><a th:href="@{/course}">Courses</a></li>
                        <li class="has-sub">
                            <a href="javascript:void(0)">Pages</a>
                            <ul class="sub-menu">
                                <li><a href="about-us.html">About Us</a></li>
                                <li><a href="our-services.html">Our Services</a></li>
                                <li><a href="contact-us.html">Contact Us</a></li>
                            </ul>
                        </li>
                        <li class="scroll-to-section"><a href="#contact-section">Contact Us</a></li>
                        <li class="has-sub">
                            <i class="fa-solid fa-user" style="color: white">
                                <ul class="sub-menu">
                                    <p th:if="${session.CSys}!=null">
                                    <li><a th:href="@{/profile}">My Account</a></li>
                                    <li><a th:href="@{/logout}">Log out</a></li>
                                    </p>
                                    <p th:if="${session.CSys}==null">
                                    <li><a th:href="@{/login}">Log in</a></li>
                                    </p>
                                </ul>
                            </i>
                        </li>
                    </ul>
                    <a class='menu-trigger'>
                        <span>Menu</span>
                    </a>
                    <!-- ***** Menu End ***** -->
                </nav>
            </div>
        </div>
    </div>
</header>
<!-- ***** Header Area End ***** -->

<!-- ***** Learn page start ***** -->
<div class="learn">
    <div th:if="${enrolledDTO}==null" class="purchase-session">
        <h2 th:text="${course.price}"></h2>
        <form
                role="form"
                method="post"

        >
            <input type="submit" value="Add to Cart">
        </form>
        <form
                role="form"
                method="post"

        >
            <input type="submit" value="Buy now">
        </form>
    </div>
    <div class="course-details" >
        <h2 th:text="${course.courseName}"></h2>
        <p th:text="${course.courseDes}"></p>
        <p th:text="${course.courseDes}"></p>
        <p th:text="${course.courseDes}"></p>
        <p th:text="${course.courseDes}"></p>
        <p th:text="${course.courseDes}"></p>
        <p th:text="${course.courseDes}"></p>
        <p th:text="${course.courseDes}"></p>
        <p th:text="${course.courseDes}"></p>
        <p th:text="${course.courseDes}"></p>
        <p th:text="${course.courseDes}"></p>
        <p th:text="${course.courseDes}"></p>
        <p th:text="${course.courseDes}"></p>
        <p th:text="${course.courseDes}"></p>
        <p th:text="${course.courseDes}"></p>
        <p th:text="${course.courseDes}"></p>
        <p th:text="${course.courseDes}"></p>
        <p th:text="${course.courseDes}"></p>
        <p th:text="${course.courseDes}"></p>
        <!-- if user not purchase the course, this session appear -->
    </div>
</div>

<!-- ***** Learn page end ***** -->

<!-- ***** Footer Start ***** -->
  <div class="container-fluid" style="background: #d69fd5;">
    <div class="row">
      <div class="col-lg-12">
        <ul class="social-icons">
          <li><a href="#"><i class="fa fa-facebook"></i></a></li>
          <li><a href="#"><i class="fa fa-twitter"></i></a></li>
          <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
          <li><a href="#"><i class="fa fa-rss"></i></a></li>
          <li><a href="#"><i class="fa fa-dribbble"></i></a></li>
        </ul>
      </div>
      <div class="col-lg-12">
        <p class="copyright">Copyright © 2022 EduWell Co., Ltd. All Rights Reserved.
          <br>Design: <a rel="sponsored" href="https://templatemo.com" target="_blank">TemplateMo</a></p>
      </div>
    </div>
  </div>
<!-- ***** Footer End ***** -->
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
</body>
</html>