<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/acf74393da.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" th:href="@{assets/css/learn.css}">
    <!-- Bootstrap core CSS-->
    <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Additional CSS Files -->
    <link rel="stylesheet" href="assets/css/fontawesome.css">
    <link rel="stylesheet" href="assets/css/owl.css">
    <link rel="stylesheet" href="assets/css/lightbox.css">
    <title>Learn</title>
</head>
<body>
<!-- ***** Header Area Start ***** -->
<header class="header-area header-sticky">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <nav class="main-nav">
                    <!-- ***** Logo Start ***** -->
                    <a th:href="@{/home}" class="logo">
                        <p style="margin-top: 40px; color: white">YourCourse</p>
                        <!--<img src="assets/images/templatemo-eduwell.png" alt="EduWell Template">-->
                    </a>
                    <!-- ***** Logo End ***** -->
                    <!-- ***** Menu Start ***** -->
                    <ul class="nav">
                        <form
                                role="form"
                                method="post"
                                th:action="@{/search}"
                                th:object="${courseDTO}"
                        >
                            <input type="text" th:field="*{courseName}" placeholder="Search.." style="opacity: 0.5; border-radius: 7px">
                        </form>
                        <li class="has-sub">
                            <a>Category</a>
                            <ul class="sub-menu">
                                <li><a th:href="@{/getCourseByCategoryID(categoryID=1)}">Language Learning</a></li>
                                <li><a th:href="@{/getCourseByCategoryID(categoryID=2)}">Web development</a></li>
                                <li><a th:href="@{/getCourseByCategoryID(categoryID=3)}">Web design</a></li>
                                <li><a th:href="@{/getCourseByCategoryID(categoryID=4)}">IT Fundamental</a></li>
                                <li><a th:href="@{/getCourseByCategoryID(categoryID=5)}">Mathematics</a></li>
                            </ul>
                        </li>
                        <li class="scroll-to-section"><a href="#services">Services</a></li>
                        <li><a th:href="@{/course}">Courses</a></li>
                        <li class="has-sub">
                            <a href="javascript:void(0)">Pages</a>
                            <ul class="sub-menu">
                                <li><a href="about-us.html">About Us</a></li>
                                <li><a href="our-services.html">Our Services</a></li>
                                <li><a href="contact-us.html">Contact Us</a></li>
                            </ul>
                        </li>
                        <li class="scroll-to-section"><a href="#contact-section">Contact Us</a></li>
                        <li class="has-sub">
                            <i class="fa-solid fa-user" style="color: white">
                                <ul class="sub-menu">
                                    <p th:if="${session.CSys}!=null">
                                    <li><a th:href="@{/profile}">My Account</a></li>
                                    <li><a th:href="@{/logout}">Log out</a></li>
                                    </p>
                                    <p th:if="${session.CSys}==null">
                                    <li><a th:href="@{/login}">Log in</a></li>
                                    </p>
                                </ul>
                            </i>
                        </li>
                    </ul>
                    <a class='menu-trigger'>
                        <span>Menu</span>
                    </a>
                    <!-- ***** Menu End ***** -->
                </nav>
            </div>
        </div>
    </div>
</header>
<!-- ***** Header Area End ***** -->
  <section class="py-5 my-5">
      <div class="container-fluid">
          <div class="bg-white shadow rounded-lg d-block d-sm-flex">
              <div class="profile-tab-nav border-right" style="overflow-y: scroll">
                  <div class="p-4">
                      <div class="course-logo text-center mb-3">
                          <img th:src="@{${course.courseImage}}">
                      </div>
                      <h4 class="text-center" th:text="${course.courseName}"></h4>
                  </div>
                  <div class="nav flex-column nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">
                      <a class="nav-link active" id="account-tab" data-toggle="pill" href="#account" role="tab" aria-controls="account" aria-selected="true">
                          <i class="fa fa-home text-center mr-1"></i>
                          Account
                      </a>
                      <a class="nav-link" id="security-tab" data-toggle="pill" href="#gmail" role="tab" aria-controls="security" aria-selected="false">
                          <i class="fa fa-user text-center mr-1"></i>
                          Gmail
                      </a>
                      <a class="nav-link" id="password-tab" data-toggle="pill" href="#password" role="tab" aria-controls="password" aria-selected="false">
                          <i class="fa fa-key text-center mr-1"></i>
                          Password
                      </a>
                      <a class="nav-link" id="notification-tab" data-toggle="pill" href="#notification" role="tab" aria-controls="notification" aria-selected="false">
                          <i class="fa fa-bell text-center mr-1"></i>
                          Notification
                      </a>
                      <a class="nav-link" id="lesson3-tab" data-toggle="pill" href="#lesson3" role="tab" aria-controls="lesson3" aria-selected="false">
                          <i class="fa fa-bell text-center mr-1"></i>
                          Notification
                      </a>
                      <th:block th:each="lessons, state: ${lessonList}">
                          <a class="nav-link" th:id="${lessons.lessonID}" data-toggle="pill" th:href="'#'+${lessons.lessonID}" role="tab"  th:aria-controls="${lessons.lessonID}" aria-selected="false">
                              <i class="fa fa-bell text-center mr-1" ></i>
                              4r4r
                          </a>
                      </th:block>

                  </div>
              </div>
              <div class="tab-content p-4 p-md-5" id="v-pills-tabContent" style="overflow-y: scroll">
                  <div class="tab-pane fade show active" id="account" role="tabpanel" aria-labelledby="account-tab">
                        <p>sadjfsldfsfksalf</p>
                  </div>
                  <div class="tab-pane fade" id="gmail" role="tabpanel" aria-labelledby="gmail-tab">
                      <p>1231231312313</p>
                  </div>
                  <div class="tab-pane fade" id="password" role="tabpanel" aria-labelledby="password-tab">
                      <p>123123131231fasfsf3</p>
                  </div>
                  <div class="tab-pane fade" id="notification" role="tabpanel" aria-labelledby="notification-tab">
                      <p>12312313bfbfbfbfb1fasfsf3</p>
                  </div>
                  <div class="tab-pane fade" id="lesson3" role="tabpanel" aria-labelledby="lesson3-tab">
                      <p>12312313bfbfbfbfb1fasfsf3</p>
                  </div>
                  <th:block th:each="lessons, state: ${lessonList}">
                      <div class="tab-pane fade" th:id="${lessons.lessonID}" role="tabpanel" th:aria-labelledby="${lessons.lessonID}+'-tab'">
                          <p>12312313bfbfbfbfb1fasfsf3</p>
                      </div>
                  </th:block>
              </div>
          </div>
      </div>
  </section>
  <div class="container-fluid" style="background: #d69fd5;">
    <div class="row">
      <div class="col-lg-12">
        <ul class="social-icons">
          <li><a href="#"><i class="fa fa-facebook"></i></a></li>
          <li><a href="#"><i class="fa fa-twitter"></i></a></li>
          <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
          <li><a href="#"><i class="fa fa-rss"></i></a></li>
          <li><a href="#"><i class="fa fa-dribbble"></i></a></li>
        </ul>
      </div>
      <div class="col-lg-12">
        <p class="copyright">Copyright © 2022 EduWell Co., Ltd. All Rights Reserved.
          <br>Design: <a rel="sponsored" href="https://templatemo.com" target="_blank">TemplateMo</a></p>
      </div>
    </div>
  </div>
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
</body>
</html>